.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ccc;
}
.styled-checkbox:hover + label:before {
  background: #C9FFF8;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #C9FFF8;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #08B29B, 4px 0 0 #08B29B, 4px -2px 0 #08B29B, 4px -4px 0 #08B29B, 4px -6px 0 #08B29B, 4px -8px 0 #08B29B;
  transform: rotate(45deg);
}

/* styled radio button */

label.radio {
  cursor: pointer;
  width:100%;
}
label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}
label.radio span {
  width:100%!important;
  padding: 7px 14px;
  border: 2px solid #EEE;
  display: inline-block;
  color: #A8A8A8;
  border-radius: 3px;
  font-size:0.825rem;
}
label.radio input:checked + span {
  background-color: #C9FFF8;
  color:#08B29B;
}

.unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 20px 0;
}
.centered {
  width: 300px;
  margin: auto;
}

